.about-service {
  background-color: @blue2;
  background-image: url("../img/about-mobile@1x.png");
}

.about-service__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: @orange;
}

.about-service__description {
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
  color: @white;
}

.about-service__description-bold {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: @white;
}
