.about-service {
  background-color: @blue2;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background-image: url("../img/about-mobile@1x.png");
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/about-mobile@2x.png");
  }


  @media (min-width: @tablet-width) {
    background-image: url("../img/about-tablet@1x.png");
    height: 600px;
    background-position: right;
    background-size: 50% 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/about-tablet@2x.png");
    }

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/about-desktop@1x.png");
    height: 680px;

    margin-left: 70px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/about-desktop@2x.png");
    }
  }
}

.about-service__wrapper {
  padding: 33px 60px 82px 50px;
  width: auto;

  @media (min-width: @tablet-width) {
    padding-left: 74px;
    padding-right: 0;
  }
}

.about-service__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: @orange;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.about-service__description {
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
  color: @white;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
    line-height: 34px;
  }
}

.about-service__description-bold {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: @white;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    line-height: 24px;
    margin-bottom: 85px;
  }
}

.about-service__to-all {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
    padding: 28px 34px;
  }
}
