.add-plan {
  background-color: @light-gray5;
}

.add-plan__wrapper {
  padding: 30px 25px 45px 25px;
  width: auto;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    padding: 55px 75px 60px 75px;
  }

  @media (min-width: @desktop-width) {
    padding: 55px 60px 70px 60px;
  }
}

.add-plan__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: @blue3;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 70px;
  }
}

.add-plan__list {
  margin: 0;
  padding: 0;
  list-style: none;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
