.add-profile {
  background-color: @light-gray2;
}

.add-profile__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: @orange;
}

.add-profile__description {
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  color: @dark-gray;
}

.add-profile__price {
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  color: @dark-gray;
}

.add-profile__number {
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  color: @white;
  &--orange {
    background-color: @orange;
  }
  &--yellow-dark {
    background-color: @yellow-dark;
  }
  &--yellow {
    background-color: @yellow;
  }
}

.add-profile__business-tariff {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: @blue-light;
}
