.button-catalog {
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
  border: none;

  @media (min-width: @tablet-width) {
    padding: 17px 0;
    font-size: 20px;
    line-height: 20px;
  }

  &--collapse {
    color: @blue2;
    background-color: @gray4;

    &:hover,
    &:focus {
      background-color: @gray5;
    }

    &:active {
      color: rgba(@blue2, 0.3);
    }

    @media (min-width: @tablet-width) {
      border-radius: 20px;
    }
  }

  &--show {
    color: @light-black;
    background-color: @white;
    padding: 14px 0;

    &:hover,
    &:focus {
      filter: drop-shadow(0 3px 6px rgba(@black, 0.14));
    }

    &:active {
      opacity: 0.3;
    }

    grid-column-start: 1;
    grid-column-end: 2;
  }

  &--call {
    color: @blue;
    background-color: @yellow;

    &:hover,
    &:focus {
      background-color: @yellow-dark;
    }

    &:active {
      color: rgba(@blue3, 0.3);
    }
  }

  &--yet {
    text-decoration: none;
    line-height: 30px;
    color: @blue3;

    @media (min-width: @tablet-width) {
      padding: 0;
    }
  }
}
