.button-catalog {
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;

  &--show {
    color: @light-black;
    background-color: @white;
  }

  &--call {
    color: @blue;
    background-color: @yellow;
  }
}
