.button-country {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: @blue3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 4px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 25px 26px;
  }

  &--choose {
    width: 100%;
    padding: 11px 0;
    border: 1px solid @ligh-gray3;
    background-color: inherit;

    &:hover,
    &:focus {
      border: 1px solid @dark-gray3;
    }

    &:active {
      color: @white;
      border: 1px solid inherit;
      background-color: @blue3;
    }
  }

  &--add {
    text-align: left;
    padding-bottom: 11px;
    padding-top: 13px;
    background-color: @light-gray;
    border: none;

    &:hover,
    &:focus {
      background-color: @light-gray4;
    }

    &:active {
      background-color: @light-gray4;
    }
  }
}
