.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid @gray;

  @media (min-width: @desktop-width) {
    margin-right: 20px;
    margin-top: 26px;
    align-items: center;
  }
}

.copyright__text {
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  color: @dark-gray;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-right: 23px;
    margin-top: -20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -38px;
  }
}

.copyright__link {
  & path {
    fill: @dark-gray;
  }

  &:hover path,
  &:focus path {
    fill: rgba(@dark-gray, 0.6);
  }

  &:active path {
    fill: rgba(@dark-gray, 0.3);
  }

  @media (min-width: @tablet-width) {
    margin-top: -25px;
  }
}

.copyright__logo {
  margin-top: 2px;
}
