.directions {
  background-color: @light-gray;
}

.directions__wrapper {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 70px;
  width: auto;

  @media (min-width: @tablet-width) {
    padding-left: 75px;
    padding-right: 75px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 40px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
  }
}

.directions__main-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: @orange;
  margin: 0;
  padding-left: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
    font-size: 45px;
    line-height: 45px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.directions__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: @dark-gray;
  padding-left: 25px;
  margin: 0;
  width: auto;

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 33px;
    padding-left: 0;
    margin-bottom: 105px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    margin-top: 60px;
    margin-bottom: 0;
  }
}

.directions__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @desktop-width) {
    order: -1;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.directions__item {
  position: relative;
  width: auto;
}

.directions__photo {
  border-radius: 10px;
  width: 100%;
  z-index: 1;

  @media (min-width: @tablet-width) {
    position: absolute;
    width: 185px;
    height: 140px;
    z-index: 3;
    top: 15px;
    left: 75%;
  }
}


.directions__flag {
  position: relative;
  top: -30px;
  left: 25px;
  z-index: 3;

  @media (min-width: @tablet-width) {
    top: 55px;
    left: 73%;
    z-index: 3;
  }
}

.directions__info {
  position: relative;
  background-color: @white;
  padding-top: 26px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  top: -50px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 26px;
    z-index: 2;
    top: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 25px;
    padding-left: 28px;
  }
}

.directions__title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: @black;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }
}

.directions__description {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: @dark-gray;
  opacity: 0.3;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.directions__people {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: @light-black;
  opacity: 0.3;
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-left: 28px;
    padding-top: 20px;
    font-size: 20px;
    line-height: 20px;
  }
}

.directions__people::before {
  position: absolute;
  content: "";
  top: 5px;
  left: -17px;
  width: 10px;
  height: 12px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  opacity: 0.3;

  @media (min-width: @tablet-width) {
    top: 20px;
    left: -28px;
    width: 18px;
    height: 20px;
  }
}

.directions__to-all {
  padding: 22px 23px;
  text-align: center;

  @media (min-width: @desktop-width) {
    padding: 28px 34px;
    margin-top: 320px;
    height: 80px;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
