.directions {
  background-color: @light-gray;
}

.directions__main-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: @orange;
}

.directions__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: @dark-gray;
}

.directions__item {
  background-color: @white;
}

.directions__title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: @black;
}

.directions__description {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: @dark-gray;
  opacity: 0.3;
}

.directions__people {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: @light-black;
  opacity: 0.3;
}

.button {
  background-color: @yellow;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: @blue3;
}
