.find-traveler {
  background-color: @yellow;
}

.find-traveler__title {
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  color: @blue3;
  letter-spacing: 0.02em;
}

.find-traveler__item {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: @blue3;
}

.music-genre__description {
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  color: @black;
}

.range-filter__min input,
.range-filter__max input {
  font-size: 14px;
  line-height: 13px;
  font-weight: 500;
  color: @blue3;
  letter-spacing: 0.06em;
}

.show-button {
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  color: @light-black;
  text-transform: uppercase;
  background-color: @white;
}
