.find-traveler {
  background-color: @yellow;
  margin: 20px 25px 30px 25px;
  border-radius: 25px;

  @media (min-width: @tablet-width) {
    margin: 40px;
  }

  @media (min-width: @desktop-width) {
    margin: 20px 25px 30px 25px;
    width: 300px;
    height: 815px;
  }
}

.find-traveler__wrapper {
  padding: 24px 20px;

  width: auto;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    padding: 37px 35px;
  }

  @media (min-width: @desktop-width) {
    padding: 47px 45px;
  }
}

.find-traveler__fieldset {
  border: none;
  padding-left: 0;
  padding-right: 0;
}

.find-traveler__fieldset-wrapper {
  padding-bottom: 15px;
  border-bottom: 1px solid @yellow-dark2;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.find-traveler__title {
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  color: @blue3;
  letter-spacing: 0.02em;
  margin: 0;
  padding-bottom: 25px;
  margin-bottom: 10px;
  border-bottom: 1px solid @yellow-dark2;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 30px;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    br {
      display: inline;
    }
  }
}

.find-traveler__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 15px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.find-traveler__item-wrapper {
  display: flex;
  justify-content: space-between;
}

.find-traveler__item {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: @blue3;
  margin: 0;

  & span {
    display: none;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    & span {
      display: inline;
    }

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    & span {
      display: none;
    }
  }
}

.find-traveler__list-transports {
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-left: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 20px;
    margin-left: 0;
  }
}

.find-traveler__range-filter {
  margin-top: 16px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-left: auto;
  }

  @media (min-width: @desktop-width) {
    margin-top: 20px;
    margin-left: 0;
  }
}

.find-traveler__uncover {
  background-color: inherit;
  border: none;

  &--active {
    transform: rotate(180deg);
  }

  & polygon {
    fill: @blue2;
  }

  &:hover polygon,
  &:focus polygon {
    fill: rgba(@blue2, 0.6);
  }

  &:active polygon {
    fill: rgba(@blue2, 0.3);
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.find-traveler__button {
  width: 100%;

  @media (min-width: @desktop-width) {
    margin-top: 40px;
  }
}
