.information {
  background-color: @blue2;
}

.information__header {
  background-image: url(../img/globe-back-mobile@1x.jpg);
}

.information__slogan {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  color: @white;
}

.information__quote {
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
  color: @white;
}

.information__author {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: @white;
}

.information__description {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: @light-black;
}

.information__number {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: @white;
}

.information__item {
  &--orange {
    background-color: @orange;
  }
  &--orange-light {
    background-color: @orange-light;
  }
  &--yellow-dark {
    background-color: @yellow-dark;
  }
  &--yellow {
    background-color: @yellow;
  }
}
