.information {
  background-color: @blue2;
  padding: 0 25px;

  @media (min-width: @tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 60px;
  }
}

.information__header {
  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/globe-back-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    height: 612px;
    background-image: url("../img/globe-back-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/globe-back-tablet@2x.jpg");
    }

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    height: 750px;
    background-image: url("../img/globe-back-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/globe-back-desktop@2x.jpg");
    }

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.information__slogan {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  color: @white;
  text-align: center;

  margin: 0 auto;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 70px;
    max-width: 400px;

    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (min-width: @desktop-width) {
    text-align: start;
    margin-left: 67px;
    max-width: 420px;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.information__quote {
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
  color: @white;

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 33px;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
    line-height: 25px;

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.information__author {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: @white;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 25px;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.information__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.information__description {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: @light-black;
  margin: 0;
  margin-top: 22px;
  margin-left: 24px;

  @media (min-width: @tablet-width) {
    font-size: 24px;
    line-height: 24px;
    margin-top: 30px;
    margin-left: 33px;
  }
}

.information__number {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  margin: 0;
  margin-top: 22px;
  margin-right: 21px;
  color: @white;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 30px;
    margin-left: 33px;
    margin-bottom: 21px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 30px;
    margin-right: 64px;
  }
}

.information__item {
  position: relative;
  width: auto;
  height: 160px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    height: 140px;
    border-radius: 0;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    height: 105px;
    flex-direction: row;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  &--orange {
    background-color: @orange;
    z-index: 1;

    @media (min-width: @tablet-width) {
      border-top-left-radius: 15px;
    }
  }

  &--orange-light {
    background-color: @orange-light;
    z-index: 2;
    top: -80px;


    @media (min-width: @tablet-width) {
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      z-index: 3;
      top: 0;
      left: -12px;
    }

    @media (min-width: @desktop-width) {
      z-index: 2;
      left: -30px;
    }
  }

  &--yellow-dark {
    background-color: @yellow-dark;
    z-index: 3;
    top: -160px;


    @media (min-width: @tablet-width) {
      border-bottom-left-radius: 15px;
      z-index: 2;
      top: 0;
    }

    @media (min-width: @desktop-width) {
      z-index: 3;
      left: -60px;
    }
  }

  &--yellow {
    background-color: @yellow;
    height: 80px;
    z-index: 4;
    top: -240px;

    @media (min-width: @tablet-width) {
      height: 140px;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      top: 0;
      left: -12px;
    }

    @media (min-width: @desktop-width) {
      height: 105px;
      border-top-right-radius: 15px;
      left: -90px;
    }
  }
}
