.information {
  background-color: @blue2;
}

.information__header {
  background-image: url("../img/globe-back-mobile@1x.jpg");

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.information__slogan {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  color: @white;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.information__quote {
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
  color: @white;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.information__author {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: @white;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.information__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.information__description {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: @light-black;
}

.information__number {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: @white;
}

.information__item {
  &--orange {
    background-color: @orange;
  }

  &--orange-light {
    background-color: @orange-light;
  }

  &--yellow-dark {
    background-color: @yellow-dark;
  }

  &--yellow {
    background-color: @yellow;
  }
}
