.interested-in {
  background-color: @blue2;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  z-index: 3;
  margin-top: -30px;
  position: relative;

  @media (min-width: @tablet-width) {
    border-bottom-right-radius: 55px;
    border-bottom-left-radius: 55px;
  }
}

.interested-in__wrapper {
  padding: 80px 25px 29px 25px;
  width: auto;

  @media (min-width: @tablet-width) {
    padding: 105px 76px 60px 76px;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 133px 100px 133px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr, 5);
  }
}

.interested-in__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: @orange;
  text-align: center;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 28px;
  }
}

.interested-in__description {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: @white;
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 65px;

    br {
      display: none;
    }

    br:nth-child(2) {
      display: inline;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
    margin-right: -15px;

    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.interested-in__link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: @yellow;

  &:hover,
  &:focus {
    color: @orange;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 32px;
  }
}

.interested-in__email {
  margin-bottom: 27px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 70px;
  }
}

.interested-in__email-input {
  width: 90%;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  border: 4px solid @white;
  background-color: @white;
  margin-left: 3px;


  z-index: 1;

  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 21px;
  border-radius: 10px;

  &:hover {
    color: rgba(@dark-gray, 0.5);
    background-color: @light-gray;
  }

  &:focus {
    border: 4px solid @white;
    background-color: inherit;
    color: @white;
  }

  @media (min-width: @tablet-width) {
    width: 93%;
    font-size: 24px;
    line-height: 24px;
    padding-top: 21px;
    padding-bottom: 25px;
    padding-left: 30px;
    margin-bottom: -35px;
    border-radius: 20px;
  }
}

.interested-in__email-input[type="email"]::placeholder {
  color: rgba(@dark-gray, 0.3);

  &:hover,
  &:focus {
    color: rgba(@dark-gray, 0.5);
  }
}

.interested-in__email-input[type="email"]:invalid {
  background-color: @white;
  color: red;
}

.interested-in__button {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;

  min-width: 60px;
  height: 63px;
  padding-bottom: 25px;

  border-radius: 10px;
  background-color: @yellow;
  border: none;
  position: absolute;

  z-index: 4;
  top: 0;
  right: 0;

  @media (min-width: @tablet-width) {
    min-width: 80px;
    height: 82px;
    padding-bottom: 35px;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @media (min-width: @desktop-width) {
    width: 325px;
    padding-bottom: 5px;
  }
}

@-moz-document url-prefix("") {
  .interested-in__button {
    height: 64px;

    @media (min-width: @tablet-width) {
      height: 83px;
    }
  }
}

.interested-in__button-text {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
    padding-left: 30px;
  }
}

.interested-in__button::after {
  position: absolute;
  content: "";
  top: 25px;
  left: 25px;
  width: 16px;
  height: 15px;
  background-image: url("../img/triangle-arrow-right.svg");
  background-repeat: no-repeat;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    top: 35px;
    left: 30px;
  }

  @media (min-width: @desktop-width) {
    left: auto;
    right: 30px;
  }
}

.interested-in__questions {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: @white;
  text-align: center;
  width: auto;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 40px;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 45px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.interested-in__info {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: @yellow;
  text-decoration: none;

  &:hover,
  &:focus {
    color: @yellow-dark;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: @desktop-width) {
    br {
      display: none;
    }
  }
}
