.interested-in {
  background-color: @blue2;
}

.interested-in__wrapper {
  padding: 70px 25px 15px 25px;
  width: auto;

  @media (min-width: @tablet-width) {
    padding: 75px 76px 60px 76px;
  }

  @media (min-width: @desktop-width) {
    padding: 110px 133px 100px 133px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr, 5);
  }
}

.interested-in__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: @orange;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.interested-in__description {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: @white;
  text-align: center;
  width: auto;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 65px;

    br {
      display: none;
    }

    br:nth-child(2) {
      display: inline;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;

    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.interested-in__link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: @yellow;

  &:hover,
  &:focus {
    color: @orange;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 32px;
  }
}

.interested-in__email {
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 70px;
  }
}

.interested-in__email-input {
  width: 70%;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: rgba(@dark-gray, 0.3);
  background-color: @white;

  border: none;

  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 25px;
  border-radius: 15px;

  &:hover,
  &:focus {
    color: rgba(@dark-gray, 0.5);
  }

  @media (min-width: @tablet-width) {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 36px;
    margin-bottom: 60px;
    width: 80%;
  }

  @media (min-width: @desktop-width) {
    width: 60%;
  }
}

.interested-in__button {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;

  min-width: 60px;
  height: 62px;
  padding-bottom: 25px;

  border-radius: 15px;
  background-color: @yellow;
  border: none;
  position: relative;

  @media (min-width: @tablet-width) {
    min-width: 80px;
    height: 80px;
    padding-bottom: 35px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @media (min-width: @desktop-width) {
    min-width: 330px;
    width: 35%;
    padding-bottom: 5px;
  }
}

.interested-in__button-text {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.interested-in__button::after {
  position: absolute;
  content: "";
  top: 23px;
  left: 22px;
  width: 16px;
  height: 14px;
  background-image: url("../img/triangle-arrow-right.svg");
  background-repeat: no-repeat;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    top: 34px;
    left: 30px;
  }

  @media (min-width: @desktop-width) {

    left: 90%;
  }
}

.interested-in__questions {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: @white;
  text-align: center;
  width: auto;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 40px;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 45px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.interested-in__info {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: @yellow;
  text-decoration: none;

  &:hover,
  &:focus {
    color: @yellow-dark;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: @desktop-width) {
    br {
      display: none;
    }
  }
}

.interested-in__icon {
  background-color: @dark-blue;
  fill: @yellow;
  margin-right: 16px;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    margin-right: 22px;
  }

  &:hover,
  &:focus {
    fill: @yellow-dark;
  }

  &--tel {
    padding: 14px 13.5px;

    @media (min-width: @tablet-width) {
      padding: 20px 21px;
      width: 27px;
      height: 25px;
    }

    @media (min-width: @desktop-width) {
      padding: 28px;
      width: 36px;
      height: 34px;
    }
  }

  &--mail {
    padding: 11px 10px 9px 11px;

    @media (min-width: @tablet-width) {
      padding: 15px 16px;
      width: 35px;
      height: 37px;
    }

    @media (min-width: @desktop-width) {
      padding: 20px 21px;
      width: 47px;
      height: 50px;
    }
  }
}
