.interested-in {
  background-color: @blue2;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.interested-in__wrapper {
  padding: 70px 25px 15px 25px;
  width: auto;

  @media (min-width: @tablet-width) {
    padding: 75px 76px 60px 76px;
  }

  @media (min-width: @desktop-width) {
    padding: 110px 133px 100px 133px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr, 5);
  }
}

.interested-in__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: @orange;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.interested-in__description {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: @white;
  text-align: center;
  width: auto;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 65px;

    br {
      display: none;
    }

    br:nth-child(2) {
      display: inline;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;

    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.interested-in__link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: @yellow;

  &:hover,
  &:focus {
    color: @orange;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 32px;
  }
}

.interested-in__email {
  margin-bottom: 30px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 70px;
  }
}

.interested-in__email-input {
  width: 90%;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;

  background-color: @white;

  border: none;
  z-index: 1;


  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 25px;
  border-radius: 15px;

  &:hover,
  &:focus {
    color: rgba(@dark-gray, 0.5);
    background-color: @light-gray;
  }

  @media (min-width: @tablet-width) {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 36px;
    margin-bottom: 60px;
  }
}

.interested-in__email-input[type="email"]::placeholder {
  color: rgba(@dark-gray, 0.3);

  &:hover,
  &:focus {
    color: rgba(@dark-gray, 0.5);
  }
}

.interested-in__email-input[type="email"]:valid {
  outline: 4px solid @white;
  outline-offset: -4px;
  background-color: inherit;
  color: @white;
}

.interested-in__email-input[type="email"]:invalid {
  background-color: @white;
  color: red;
}

.interested-in__button {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;

  min-width: 60px;
  height: 65px;
  padding-bottom: 25px;

  border-radius: 15px;
  background-color: @yellow;
  border: none;
  position: absolute;

  z-index: 4;
  top: 0;
  right: 0;

  @media (min-width: @tablet-width) {
    min-width: 80px;
    height: 77px;
    padding-bottom: 35px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @media (min-width: @desktop-width) {
    min-width: 330px;
    width: 35%;
    padding-bottom: 5px;
  }
}

.interested-in__button-text {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
    padding-left: 42px;
  }
}

.interested-in__button::after {
  position: absolute;
  content: "";
  top: 23px;
  left: 22px;
  width: 16px;
  height: 14px;
  background-image: url("../img/triangle-arrow-right.svg");
  background-repeat: no-repeat;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    top: 30px;
    left: 30px;
  }

  @media (min-width: @desktop-width) {
    left: 90%;
  }
}

.interested-in__questions {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: @white;
  text-align: center;
  width: auto;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 40px;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 45px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.interested-in__info {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: @yellow;
  text-decoration: none;

  &:hover,
  &:focus {
    color: @yellow-dark;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: @desktop-width) {
    br {
      display: none;
    }
  }
}
