.months__month {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: @blue3;
  text-align: center;
  padding: 11px 0;
  border-bottom: 1px solid @gray2;
  border-top: 1px solid @gray2;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}
