.page-footer {
  background-color: @white;

  @media (min-width: @tablet-width) {
    width: 690px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 1322px;
  }
}
