.page-header {
  display: flex;
  flex-direction: row;
}

.page-header__logo {
  height: 15px;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 42px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    height: 52px;
  }
}
