.page-footer {
  background-color: @white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  @media (min-width: @desktop-width) {
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
  }

  position: relative;

  &--index {
    margin-top: -247px;
    z-index: 2;

    @media (min-width: @desktop-width) {
      margin-top: -165px;
    }
  }

  &--form {
    z-index: 4;
    margin-top: -30px;
  }

  &--catalog {
    z-index: 2;
    margin-top: -30px;
  }

  padding: 38px 25px 30px 25px;

  @media (min-width: @tablet-width) {
    padding: 45px 60px 30px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding: 9px 40px 45px 40px;
  }
}

.page-footer__logo img {
  display: block;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    margin-left: 20px;
  }
}
