.page-footer {
  background-color: @white;
  width: auto;

  padding: 38px 25px 20px 25px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__logo img {
  margin-bottom: 40px;
}
