.plans {
  background-color: @light-gray4;
}

.plans__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: @blue3;
}

.plans__item {
  background-color: @white;
}

.plan-infomation__cities {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: @blue3;
}

.plan-infomation__people,
.plan-infomation__dates {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: @blue3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
