.plans {
  background-color: @light-gray4;
}

.plans__wrapper {
  width: 270px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 320px;

  @media (min-width: @tablet-width) {
    width: 630px;
    grid-template-rows: 50px 310px;
  }

  @media (min-width: @desktop-width) {
    width: 1256px;
    grid-template-rows: 50px 200px;
  }
}

.plans__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: @blue3;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.plans__list {
  margin: 0;
  padding: 0;
  list-style: none;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.plans__item {
  background-color: @white;
}
