.profile-info {
 background-color: @light-gray;
}

.profile-info__number {
  font-size: 38px;
  line-height: 38px;
  font-weight: bold;
  color: @light-black;
}

.profile-info__text {
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  color: @dark-gray;
}

.button-light {
  font-size: 20px;
  line-height: 18px;
  font-weight: 500;
  color: @light-black;
  background-color: @light-gray4;
  text-transform: uppercase;
}

.profile-info__title {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: @blue3;
}

.profile-info__hashtags {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: @dark-gray;
}
