.profile-info {
  background-color: @light-gray;
}

.profile-info__wrapper {
  padding: 20px 25px 35px 25px;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 50px 50px min-content(90px) 50px min-content(65px);

  @media (min-width: @tablet-width) {
    padding: 65px 75px 50px 75px;

    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: min-content(105px) 50px 60px min-content(105px) 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 125px 54px 125px;

    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: 190px 100px min-content(105px) 40px;
  }
}

.profile-info__level {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.profile-info__number {
  font-size: 38px;
  line-height: 38px;
  font-weight: bold;
  color: @light-black;
  margin: 0;
  text-align: center;

  width: 50px;
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: 1px solid rgba(@dark-gray, 0.3);
}

.profile-info__text {
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  color: @dark-gray;
  margin: 0;
  text-align: center;

  width: 50px;
}

.profile-info__avatar {
  border-radius: 50%;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  @media (min-width: @tablet-width) {

    grid-column-start: 3;
    grid-column-end: 4;
  }
}

.profile-info__button {
  padding: 13px 0;
  border-radius: 15px;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  @media (min-width: @tablet-width) {
    padding: 21px 0;
    margin-bottom: 50px;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  @media (min-width: @desktop-width) {
    padding-top: 16px;
    padding-bottom: 13px;

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.profile-info__title {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: @blue3;
  background-color: @light-gray;
  margin: 0 auto;
  text-align: center;

  padding: 0 15px;
  z-index: 2;
  top: 10px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
    font-weight: 500;

    padding: 0 20px;
    z-index: 2;
    top: -10px;
  }

  &--tags {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 5;
      grid-row-end: 6;
    }

    @media (min-width: @desktop-width) {
      margin-left: 20px;

      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5;
    }
  }

  &--transport {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 5;
    }
  }
}

.profile-info__hashtags {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: @dark-gray;
  border: 1px solid @ligh-gray3;
  border-radius: 15px;
  margin: 0;
  padding: 27px 0;
  padding-left: 25px;
  text-align: start;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding-left: 40px;

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.profile-info__list {
  margin: 0;
  list-style: none;
  border: 1px solid @ligh-gray3;
  padding: 15px 0;
  text-align: center;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;

  @media (min-width: @tablet-width) {
    padding: 25px 0;
    margin: 0 60px;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
