.route {
  background-color: @yellow;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.route__wrapper {
  width: auto;
  padding: 31px 25px 35px 25px;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    padding: 48px 75px 85px 75px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 283px;
    padding-top: 55px;
    padding-bottom: 55px;
    grid-template-columns: 2fr 1fr;
  }
}

.route__address {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: @blue3;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 30px;
  margin-left: 60px;

  &::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    top: 0;
    left: -60px;
    background-image: url("../img/contacts-location.svg");
    background-repeat: no-repeat;
    background-size: 21px 21px;
    background-color: @dark-blue;
    border-radius: 50%;
    background-position: center;


    @media (min-width: @tablet-width) {
      width: 68px;
      height: 68px;
      top: -20px;
      left: -85px;
      background-size: 31px 31px;
    }

    @media (min-width: @desktop-width) {
      width: 90px;
      height: 90px;
      top: -30px;
      left: -110px;
      background-size: 41px 41px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 44px;
    margin-left: 85px;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
  }
}

.route__button {
  padding: 22px;

  @media (min-width: @desktop-width) {
    width: 325px;
    height: 80px;
  }

  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 24px;
    left: 95%;
    width: 15px;
    height: 15px;
    background-image: url("../img/triangle-arrow-right.svg");
    background-repeat: no-repeat;

    &:hover,
    &:focus {
      filter: invert(100%) sepia(0%) saturate(7413%) hue-rotate(118deg) brightness(111%) contrast(100%);
    }

    @media (min-width: @desktop-width) {
      top: 30px;
      left: 90%;
    }
  }
}
