.steps__item {
  background-color: @white;
  border-radius: 15px;
  padding: 24px 20px;
  margin-bottom: 10px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 50px 43px;
    margin-bottom: 40px;

    &::before {
      position: absolute;
      content: "";
      left: 43px;
      width: 90%;
      height: 1px;
      background-color: @light-gray9;
    }

    &--one::before {
      top: 250px;
    }

    &--two::before {
      top: 215px;
    }

    &--three::before {
      top: 225px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 100px 160px;
    margin-bottom: 45px;

    &::before {
      left: 160px;
      width: 80%;
    }

    &--one::before {
      top: 270px;
    }

    &--two::before {
      top: 235px;
    }

    &--three::before {
      top: 235px;
    }
  }

  &--one {
    width: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px min-content(90px) 30px 1fr 30px 1fr 1fr 60px 200px 40px;

    @media (min-width: @tablet-width) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100px min-content(50px) 1fr 1fr 1fr 1fr 1fr 86px 440px 80px;
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 50px 50px 100px 100px 100px 80px 200px min-content(100px);
    }
  }

  &--two {
    padding-bottom: 17px;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 90px 64px 64px 64px 67px;

    @media (min-width: @tablet-width) {
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 100px 80px 86px 86px 86px 120px;
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 50px 50px 100px 70px 70px 70px 800px min-content(100px);
    }
  }

  &--three {
    padding-bottom: 17px;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px min-content(90px) 50px 230px 50px 230px 30px 30px;

    @media (min-width: @tablet-width) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100px min-content(50px) 70px 280px 70px 280px 80px;
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 50px 50px 100px 70px 280px 70px 280px min-content(100px);
    }
  }
}

.steps__title {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: @blue3;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    br {
      display: none;
    }
  }

  &--one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &--two {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  &--three {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

.steps__info {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: @dark-gray;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 35px;
    max-width: 505px;
  }

  &--one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }

  &--two {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }

  &--three {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }

  &--three::after {
    position: absolute;
    content: "";
    top: 73px;
    left: -10px;
    height: 310px;
    width: 2px;
    background-color: @blue3;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.steps__points-list {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;

    &--one {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 4;
    }

    &--two {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 4;
    }

    &--three {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 4;
    }
  }
}

.steps__label {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: @blue3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  margin-bottom: 8px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &--companion {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

    @media (min-width: @tablet-width) {
      grid-row-start: 3;
      grid-row-end: 4;
    }

    @media (min-width: @desktop-width) {
      margin-top: 60px;
      margin-bottom: 0;

      grid-row-start: 4;
      grid-row-end: 5;
    }
  }

  &--duration {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;

    @media (min-width: @tablet-width) {
      grid-row-start: 6;
      grid-row-end: 7;
    }

    @media (min-width: @desktop-width) {
      margin-top: 25px;
      margin-bottom: 60px;

      grid-row-start: 5;
      grid-row-end: 6;
    }
  }
}

.steps__denomination {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: @blue3;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  opacity: 0.3;
  margin: 0;
  text-align: end;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 18px;
    margin-top: 25px;
  }

  &--people {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    @media (min-width: @desktop-width) {
      margin-top: 60px;
      margin-bottom: 25px;

      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 5;
    }
  }

  &--days {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;

    @media (min-width: @tablet-width) {
      grid-row-start: 6;
      grid-row-end: 7;
    }

    @media (min-width: @desktop-width) {
      margin-top: 25px;
      margin-bottom: 60px;

      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 5;
      grid-row-end: 6;
    }
  }
}

.steps__qty {
  margin-bottom: 20px;

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }

  &--people {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;

    @media (min-width: @desktop-width) {
      margin-top: 10px;
      margin-bottom: 7px;

      grid-column-start: 2;
      grid-column-end: 3;
    }
  }

  &--days {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;

    @media (min-width: @tablet-width) {
      grid-row-start: 7;
      grid-row-end: 8;
    }

    @media (min-width: @desktop-width) {
      margin-top: 7px;
      margin-bottom: 10px;

      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 6;
    }
  }
}

.steps__checkbox {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;

  @media (min-width: @tablet-width) {
    grid-row-start: 5;
    grid-row-end: 6;
  }

  @media (min-width: @desktop-width) {
    margin-top: 60px;
    margin-bottom: 25px;

    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

.steps__months {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
  }
}

.steps__table {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 10;

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 8;
  }
}

.steps__countries {
  position: relative;
  margin: 0;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 4fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 3fr 1fr;
  }

  &--bosnia {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 5;
    }
  }

  &--czech-republic {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 5;
      grid-row-end: 6;
    }
  }
}

.steps__countries select {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: @blue3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  padding: 11px 7px 11px 11px;
  border-radius: 4px;
  border: 1px solid @ligh-gray3;
  width: 83%;

  appearance: none;
  background: url("../img/dropdown-form.svg") no-repeat 97% center;
  background-size: 16px 11px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 25px 26px;
    width: 83%;
    background-size: 20px 17px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.steps__flags {
  width: 35px;
  height: 24px;

  @media (min-width: @tablet-width) {
    height: 47px;
    width: 70px;
    border: none;
  }
}

.steps__countries-flags {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px 24px;
  width: 35px;
  height: 24px;
  border: 1px solid @ligh-gray3;
  padding: 9px;
  padding-bottom: 7px;
  border-radius: 4px;
  position: relative;
  top: 0;
  left: 83%;

  @media (min-width: @tablet-width) {
    border: none;
    width: 70px;
    height: 47px;
    left: 70px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 16px;
    right: 50px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: @blue3;

    @media (min-width: @tablet-width) {
      top: 25px;
      right: auto;
      left: -20px;
      width: 14px;
      height: 14px;
    }
  }

  &--bosnia {
    top: -371px;

    @media (min-width: @tablet-width) {
      top: -255px;
    }

    @media (min-width: @desktop-width) {
      top: 160px;
      left: 325%;
    }
  }

  &--czech-republic {
    top: -381px;

    @media (min-width: @tablet-width) {
      top: -420px;
    }

    @media (min-width: @desktop-width) {
      top: -85px;
    }
  }
}

.steps__button-close {
  position: absolute;
  content: "";
  top: -10px;
  right: -10px;
  width: 21px;
  height: 21px;
  border: none;
  background: url("../img/filter-close.svg");

  border-radius: 50%;
  filter: opacity(1);
  background-color: @light-gray;

  @media (min-width: @tablet-width) {
    width: 24px;
    height: 24px;
    background-color: inherit;
    top: 20px;
    right: -25px;
  }

  &:hover,
  &:focus {
    filter: opacity(0.3);
  }

  &:active {
    filter: opacity();
  }
}

.steps__country {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: @blue3;
  margin: 0;
  margin-bottom: 20px;
  margin-left: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 25px;
  }

  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 7px;
    left: -15px;
    width: 6px;
    height: 6px;
    background-color: @blue3;
    border-radius: 50%;

    @media (min-width: @tablet-width) {
      top: 15px;
      left: auto;
      right: 0;
      width: 14px;
      height: 14px;
    }

    @media (min-width: @desktop-width) {
      right: -60px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 9px;
    left: -23px;
    width: 11px;
    height: 2px;
    background-color: @blue3;
  }

  &--bosnia {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;

      &::after {
        top: 20px;
        left: auto;
        right: 6px;
        height: 285px;
        width: 2px;
      }
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;

      &::after {
        right: -54px;
        height: 285px;
        width: 2px;
        background-color: @blue3;
      }
    }
  }

  &--czech-republic {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;

      &::after {
        display: none;
      }
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 6;
      grid-row-end: 7;
    }
  }
}

.steps__country-name {
  margin: 0;
}

.steps__flag {
  @media (min-width: @tablet-width) {
    margin-right: 35px;
    width: 70px;
    height: 47px;
  }
}

.steps__choose-country {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
  }
}

.steps__textarea {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: @dark-gray;
  border: 1px solid @ligh-gray3;
  border-radius: 4px;
  text-align: left;
  padding: 11px 0;
  padding-left: 15px;
  padding-right: 20px;
  resize: none;
  margin-bottom: 20px;
  height: 220px;

  &:hover,
  &:focus {
    border: 1px solid  @dark-gray3;
  }

  &:active {
    border: 1px solid  @blue;
  }

  &--opacity {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    margin-right: 35px;
    margin-bottom: 45px;
    height: 140px;
  }

  &--bosnia {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 6;
    }
  }

  &--czech-republic {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 7;
      grid-row-end: 8;
    }
  }
}

.steps__button {
  &--next-one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 10;
    grid-row-end: 11;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    @media (min-width: @desktop-width) {
      grid-row-start: 8;
      grid-row-end: 9;
    }
  }

  &--choose {
    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }

  &--add {
    margin-bottom: 25px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;

    @media (min-width: @tablet-width) {
      margin-bottom: 50px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 6;
      grid-row-end: 7;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
      padding-bottom: 40px;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 7;
      grid-row-end: 8;
    }
  }

  &--next-two {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;

    @media (min-width: @desktop-width) {

      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 8;
      grid-row-end: 9;
    }
  }

  &--prev-two {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;

    @media (min-width: @tablet-width) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 7;
      grid-row-end: 8;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 8;
      grid-row-end: 9;
    }
  }

  &--submit {
    border: none;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 8;
      grid-row-end: 9;
    }
  }

  &--prev-three {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;

    @media (min-width: @tablet-width) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 7;
      grid-row-end: 8;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 8;
      grid-row-end: 9;
    }
  }
}
