.steps__item {
  background-color: @white;

  &--one {
    @media (max-width: @mobile-width) {
      width: 270px;
      display: grid;
      grid-template-columns: 180px 90px;
      grid-template-rows: 50px 160px 30px 40px 30px 40px 30px 40px 200px 40px;
    }

    @media (min-width: @tablet-width) {
      width: 540px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 75px 100px 30px 70px 40px 30px 70px 86px 440px 40px;
    }

    @media (min-width: @desktop-width) {
      width: 1320px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 50px 50px 100px 70px 70px 80px 460px 40px;
    }
  }

  &--two {
    @media (max-width: @mobile-width) {
      width: 270px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 50px 70px 40px 40px 50px 40px 30px 30px;
    }

    @media (min-width: @tablet-width) {
      width: 540px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 75px 100px 60px 60px 60px 60px 40px;
    }

    @media (min-width: @desktop-width) {
      width: 1320px;
      grid-template-columns: 1fr 650px 1fr;
      grid-template-rows: 50px 50px 100px 70px 70px 70px 70px 40px;
    }
  }

  &--three {
    @media (max-width: @mobile-width) {
      width: 270px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 50px 100px 280px 280px 30px 30px;
    }

    @media (min-width: @tablet-width) {
      width: 540px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 50px 100px 280px 280px 40px;
    }

    @media (min-width: @desktop-width) {
      width: 1320px;
      grid-template-columns: 1fr 650px 1fr;
      grid-template-rows: 50px 50px 100px 280px 280px 40px;
    }
  }
}

.steps__title {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: @blue3;

  &--one {
    @media (max-width: @mobile-width) {
      width: 160px;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }

  &--two {
    @media (max-width: @mobile-width) {
      width: 100px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }

  &--three {
    @media (max-width: @mobile-width) {
      width: 160px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }
}

.steps__info {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: @dark-gray;

  &--one {
    @media (max-width: @mobile-width) {
      width: 218px;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    @media (min-width: @tablet-width) {
      width: 450px;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }

  &--two {
    @media (max-width: @mobile-width) {
      width: 250px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    @media (min-width: @tablet-width) {
      width: 350px;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }

  &--three {
    @media (max-width: @mobile-width) {
      width: 250px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    @media (min-width: @tablet-width) {
      width: 450px;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }
}

.steps__label {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: @blue3;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  &--companion {
    @media (max-width: @mobile-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5;
    }
  }

  &--duration {
    @media (max-width: @mobile-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 6;
    }

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 6;
      grid-row-end: 7;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 6;
    }
  }
}

.steps__denomination {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: @blue3;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  opacity: 0.3;

  &--people {
    @media (max-width: @mobile-width) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    @media (min-width: @tablet-width) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 5;
    }
  }

  &--days {
    @media (max-width: @mobile-width) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 6;
    }

    @media (min-width: @tablet-width) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 6;
      grid-row-end: 7;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 5;
      grid-row-end: 6;
    }
  }
}

.steps__qty {
  &--people {
    @media (max-width: @mobile-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
    }

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
    }
  }

  &--days {
    @media (max-width: @mobile-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 6;
      grid-row-end: 7;
    }

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 7;
      grid-row-end: 8;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 6;
    }
  }
}

.steps__checkbox {
  @media (max-width: @mobile-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

.steps__months {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: @blue3;

  @media (max-width: @mobile-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
  }
}

.steps__countries {
  &--bosnia {
    @media (max-width: @mobile-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
    }
  }

  &--czech-republic {
    @media (max-width: @mobile-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5;
    }

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 6;
    }
  }
}

.steps__countries select {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: @blue3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.steps__country {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: @blue3;

  &--bosnia {
    @media (max-width: @mobile-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 4;
      grid-row-end: 5;
    }
  }

  &--czech-republic {
    @media (max-width: @mobile-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5;
    }

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 5;
      grid-row-end: 6;
    }
  }
}

.steps__choose-country {
  @media (max-width: @mobile-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
  }
}

.steps__textarea {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: @dark-gray;

  &--opacity {
    opacity: 0.3;
  }
}

.steps__button {
  &--next-one {
    @media (max-width: @mobile-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 10;
      grid-row-end: 11;
    }

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 10;
      grid-row-end: 11;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 8;
      grid-row-end: 9;
    }
  }

  &--add {
    @media (max-width: @mobile-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 6;
      grid-row-end: 7;
    }

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 6;
      grid-row-end: 7;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 7;
      grid-row-end: 8;
    }
  }

  &--next-two {
    @media (max-width: @mobile-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 7;
      grid-row-end: 8;
    }

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 7;
      grid-row-end: 8;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 8;
      grid-row-end: 9;
    }
  }

  &--prev-two {
    @media (max-width: @mobile-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 8;
      grid-row-end: 9;
    }

    @media (min-width: @tablet-width) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 7;
      grid-row-end: 8;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 8;
      grid-row-end: 9;
    }
  }

  &--submit {
    @media (max-width: @mobile-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 6;
    }

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 6;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 6;
      grid-row-end: 7;
    }
  }

  &--prev-three {
    @media (max-width: @mobile-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 6;
      grid-row-end: 7;
    }

    @media (min-width: @tablet-width) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 6;
    }

    @media (min-width: @desktop-width) {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 6;
      grid-row-end: 7;
    }
  }
}
