.table {
  height: 215px;
  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    height: 440px;
  }

  @media (min-width: @desktop-width) {
    height: 465px;
  }
}

th {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: @dark-gray;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 18px;
  }
}

.table__red {
  color: @dark-orange;
}

th span {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
  }
}

td {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: @dark-gray;
  background-color: @light-gray;
  text-align: center;
  border: 1px solid @gray2;
  cursor: pointer;

  &:disabled {
    opacity: 0.3;
    font-weight: normal;

    @media (min-width: @tablet-width) {
      font-size: 18px;
      line-height: 18px;
    }
  }

  &:hover,
  &:focus {
    color: @white;
    background-color: @blue3;
    outline: 4px solid @dark-orange;
    outline-offset: -4px;
  }

  &:active {
    outline: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 18px;
    line-height: 18px;
    vertical-align: top;
    text-align: left;
  }
}
