.travelers-profiles__item {
  background-color: @white;
}

.travelers-profile__name {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: @blue3;
}

.travelers-profile__distance {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: @light-black;
  text-transform: uppercase;
}

.travelers-profile__hashtags {
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;
  color: @dark-gray;
}

.travelers-profile__description {
  font-size: 15px;
  line-height: 16px;
  font-weight: normal;
  color: @dark-gray;
}

.travelers-profile__city {
  font-size: 15px;
  line-height: 16px;
  font-weight: 500;
  color: @blue3;
  text-transform: uppercase;
}
