.travelers-profiles__wrapper {
  margin: 28px  25px 45px 25px;

  @media (min-width: @tablet-width) {
    margin: 40px  40px 60px 40px;
  }

  @media (min-width: @desktop-width) {
    margin: 50px  60px 75px 60px;
  }
}

.travelers-profiles__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.travelers-profiles__item {
  background-color: @white;
}
