.travelers-profile {
  padding: 15px 20px 20px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  width: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 30px 60px 60px 100px 50px 50px 20px;

  @media (min-width: @tablet-width) {
    padding: 35px 25px 25px 35px;
    margin-bottom: 40px;

    grid-template-columns: 3fr 3fr 1fr 2fr;
    grid-template-rows: 70px 100px 50px 40px 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;

    grid-template-columns: 3fr 2fr 1fr 2fr 1fr;
    grid-template-rows: 70px 100px 50px;
  }
}

.travelers-profile__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;

  @media (min-width: @tablet-width) {
    width: 190px;
    height: 190px;
    border-radius: 20px;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    top: -35px;
    left: -35px;
    width: 285px;
    height: 285px;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.travelers-profile__name {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: @blue3;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 30px;

    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.travelers-profile__distance {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: @light-black;
  text-transform: uppercase;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.travelers-profile__hashtags {
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;
  color: @dark-gray;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 23px;

    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.travelers-profile__description {
  font-size: 15px;
  line-height: 16px;
  font-weight: normal;
  color: @dark-gray;

  &--visit {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &--transport {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &--level {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}

.travelers-profile__list {
  margin: 0;
  padding: 0;
  list-style: none;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    display: flex;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
  }
}

.travelers-profile__item {
  padding: 0 5px;
}

.travelers-profile__transpotrs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 8;

  @media (min-width: @tablet-width) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    display: inline;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
  }
}

.travelers-profile__transpotrs-item {
  background-color: @light-gray;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.travelers-profile__city {
  font-size: 15px;
  line-height: 16px;
  font-weight: 500;
  color: @blue3;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.travelers-profile__level {
  width: 45px;
  height: 45px;
  border: 3px solid @orange;
  border-radius: 50%;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;

  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;

    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.travelers-profile__number {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: @blue3;
  margin: 0 auto;
  margin-top: 12px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 1px;
    margin-bottom: 1px;
    border-bottom: 1px solid rgba(@black, 0.1);
    width: 30px;
  }
}

.travelers-profile__text {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: @black;
    opacity: 0.4;
    margin: 0 auto;
    text-align: center;
    width: 30px;
  }
}

.travelers-profile__button {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
