.travelers-profile {
  @media (max-width: @mobile-width) {
    width: 270px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 30px 60px 60px 100px 50px 50px 20px;
  }

  @media (min-width: @tablet-width) {
    width: 690px;
    display: grid;
    grid-template-columns: 190px 150px 50px 100px;
    grid-template-rows: 70px 100px 50px 40px 60px;
  }

  @media (min-width: @desktop-width) {
    width: 950px;
    grid-template-columns: 285px 200px 50px 160px 100px;
    grid-template-rows: 70px 100px 50px;
  }
}

.travelers-profile__avatar {
  @media (max-width: @mobile-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}

.travelers-profile__name {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: @blue3;

  @media (max-width: @mobile-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.travelers-profile__distance {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: @light-black;
  text-transform: uppercase;

  @media (max-width: @mobile-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.travelers-profile__hashtags {
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;
  color: @dark-gray;

  @media (max-width: @mobile-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.travelers-profile__description {
  font-size: 15px;
  line-height: 16px;
  font-weight: normal;
  color: @dark-gray;

  &--visit {
    @media (max-width: @mobile-width) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
    }

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &--transport {
    @media (max-width: @mobile-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 6;
      grid-row-end: 7;
    }

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &--level {
    @media (max-width: @mobile-width) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 6;
      grid-row-end: 7;
    }

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}

.travelers-profile__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: @mobile-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    display: flex;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
  }
}

.travelers-profile__item {
  padding: 0 5px;
}

.travelers-profile__transpotrs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  @media (max-width: @mobile-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    display: inline;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
  }
}

.travelers-profile__city {
  font-size: 15px;
  line-height: 16px;
  font-weight: 500;
  color: @blue3;
  text-transform: uppercase;
}

.travelers-profile__level {
  @media (max-width: @mobile-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.travelers-profile__button {
  @media (max-width: @mobile-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
  }

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
