.travelers-profile {
  padding: 15px 20px 20px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  width: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 45px 30px 50px 50px 70px 50px 50px 60px;

  @media (min-width: @tablet-width) {
    padding: 35px 25px 25px 35px;
    margin-bottom: 40px;

    grid-template-columns: 190px 150px 50px 50px 60px;
    grid-template-rows: 70px 100px 50px 40px 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 46px 43px 40px 60px;
    margin-bottom: 30px;

    grid-template-columns: 2fr 2fr 50px 50px 2fr 60px;
    grid-template-rows: 50px 90px 52px;
  }
}

.travelers-profile__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;

  @media (min-width: @tablet-width) {
    width: 190px;
    height: 190px;
    border-radius: 20px;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    top: -45px;
    left: -60px;
    width: 285px;
    height: 285px;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.travelers-profile__name {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: @blue3;
  margin: 0;
  max-width: 80px;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    max-width: none;
    font-size: 30px;
    line-height: 30px;

    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 20px;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 140px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: @light-red;

    @media (min-width: @tablet-width) {
      top: 11px;
      left: -20px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 20px;

      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }

  &--online::before {
    background-color: @green;
  }
}

.travelers-profile__distance {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: @light-black;
  text-transform: uppercase;
  margin: 0;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-top: 15px;

    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.travelers-profile__heart {
  @media (min-width: @tablet-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.travelers-profile__hashtags {
  font-size: 15px;
  line-height: 18px;
  font-weight: normal;
  color: @dark-gray;
  margin: 0;
  margin-top: 10px;
  max-width: 180px;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;

  @media (min-width: @tablet-width) {
    max-width: 227px;
    font-size: 20px;
    line-height: 23px;

    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 45px;

    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.travelers-profile__description {
  font-size: 15px;
  line-height: 16px;
  font-weight: normal;
  color: @dark-gray;

  &--visit {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &--transport {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &--level {
    text-align: right;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;

    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}

.travelers-profile__list {
  margin: 0;
  padding: 0;
  list-style: none;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    display: flex;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
  }
}

.travelers-profile__item {
  position: relative;
  padding: 0 15px;
  margin-bottom: 10px;
  margin-left: 25px;
}

.travelers-profile__city {
  font-size: 15px;
  line-height: 16px;
  font-weight: 500;
  color: @blue3;
  text-transform: uppercase;

  margin: 0;
  margin-right: 25px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &::after {
    position: absolute;
    content: "";
    top: -17px;
    left: -50px;
    width: 70px;
    height: 50px;
    background-image: none;
    background-repeat: no-repeat;
    transform: scale(0.3);

    @media (min-width: @tablet-width) {
      transform: scale(0.5);
      top: -15px;
      left: -45px;
    }
  }

  &--sri-lanka::after {
    background-image: url("../img/flag-sri-lanka.svg");
  }

  &--thailand::after {
    background-image: url("../img/flag-thailand.svg");
  }

  &--seychelles::after {
    background-image: url("../img/flag-seychelles.svg");
  }

  &--belgium::after {
    background-image: url("../img/flag-belgium.svg");
  }

  &--czech-republic::after {
    background-image: url("../img/flag-czech.svg");
  }

  &--usa::after {
    background-image: url("../img/flag-usa.svg");
  }

  &--australia::after {
    background-image: url("../img/flag-australia.svg");
  }

  &--dominica::after {
    background-image: url("../img/flag-dominica.svg");
  }

  &--great-britain::after {
    background-image: url("../img/flag-united-kingdom.svg");
  }

  &--germany::after {
    background-image: url("../img/flag-germany.svg");
    left: -45px;
    transform: scale(0.4);

    @media (min-width: @tablet-width) {
      transform: scale(0.7);
    }
  }
}

.travelers-profile__transpotrs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 8;

  @media (min-width: @tablet-width) {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    display: inline;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
  }
}

.travelers-profile__transpotrs-item {
  background-color: @light-gray;
  border-radius: 50%;
  width: 32px;
  height: 32px;

  @media (min-width: @tablet-width) {
    background-color: inherit;
  }
}

.travelers-profile__icon {
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  fill: rgba(@blue3, 0.15);

  &--active {
    fill: rgba(@blue3, 1);
  }

  @media (min-width: @tablet-width) {
    width: 23px;
    height: 21px;
  }
}

.travelers-profile__level {
  width: 45px;
  height: 45px;
  border: 3px solid @orange;
  border-radius: 50%;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;

  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;

    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.travelers-profile__number {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: @blue3;
  margin: 0 auto;
  margin-top: 12px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-bottom: 1px;
    margin-bottom: 1px;
    border-bottom: 1px solid rgba(@black, 0.1);
    width: 30px;
  }
}

.travelers-profile__text {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: @black;
    opacity: 0.4;
    margin: 0 auto;
    text-align: center;
    width: 30px;
  }
}

.travelers-profile__button {
  margin-top: 20px;

  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;

  @media (min-width: @tablet-width) {
    margin-top: 0;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
