.travelers {
  background-color: @blue2;
}

.travelers__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: @orange;
}

.travelers__description {
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
  color: @white;
}

.travelers__description-bold {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: @white;
}

.travelers__item {
  background-color: @white;
}

.travelers__name {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: @blue3;
}

.travelers__hashtags {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: @dark-gray;
}
