.user-list {
  padding: 50px 0;
  width: auto;
  padding-left: 25px;


  @media (min-width: @tablet-width) {
    padding: 0;
    padding-left: 97px;
    margin-bottom: 130px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.user-list__item {
  margin-bottom: 30px;
}

.user-list__info-icon {
  background-color: @dark-blue;
  margin-right: 16px;
  border-radius: 50%;
  padding: 20px;

  @media (min-width: @tablet-width) {
    margin-right: 23px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }

  fill: @yellow;

  &:hover,
  &:focus {
    fill: @yellow-dark;
  }
}

.user-list__info {
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: @blue3;
  font-weight: bold;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-list__login {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: @blue;
  background-color: @yellow;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 80px;
  border-radius: 25px;

  &:hover,
  &:focus {
    background-color: @yellow-dark;
  }

  &:active span {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
