.user-list__login {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: @light-black;
  background-color: @yellow;
}

@media (min-width: @tablet-width) {
  .user-list {
    width: 188px;
  }
}

@media (min-width: @desktop-width) {
  .user-list {
    width: 288px;
  }
}
